@model IEnumerable<CustomerTicket>

@{
    Layout = "_LayoutServiceProvider";
}
<partial name="_Notification" />
<h2 class="mt-4">Current Queue Status</h2>

@* <form asp-controller="ServicePoint" asp-action="GetNextNumber" method="post" class="btn btn-primary mt-1">
    <button type="submit" class="btn btn-primary">Get Next Number</button>
</form> *@
<a asp-action="GetNextNumber" class="btn btn-primary mt-1">GetNextNumber</a>
<a asp-action="SelectService" class="btn btn-danger mt-1">Back</a>

<table class="table mt-2">
    <thead>
        <tr>
            <th>Ticket Number</th>
            <th>Checkin Time</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerTicket in Model)
        {
            <tr>
                <td>@customerTicket.Id</td>
                <td>@customerTicket.CheckInTime</td>
                <td>@customerTicket.Status</td>
                <td>
                    @if (customerTicket.Status == "In Progress")
                    {
                        <form method="post" asp-action="RecallNumber" class="w-12 btn-group">
                            <input type="hidden" name="Id" value="@customerTicket.Id" />
                            <button type="submit" class="btn btn-primary">Recall</button>
                        </form>
                        <form method="post" asp-action="MarkAsNoShow" class="w-12 btn-group">
                            <input type="hidden" name="Id" value="@customerTicket.Id" />
                            <button type="submit" class="btn btn-danger">No Show</button>
                        </form>
                        <form method="post" asp-action="MarkAsFinished" class="w-12 btn-group">
                            <input type="hidden" name="Id" value="@customerTicket.Id" />
                            <button type="submit" class="btn btn-success">Finished</button>
                        </form>
                        <form method="post" asp-action="TransferNumber" class="w-12 btn-group">
                            <input type="hidden" name="Id" value="@customerTicket.Id" />
                            <button type="submit" class="btn btn-warning">Transfer</button>
                        </form>
                    }
                    else if (customerTicket.Status == "Waiting")
                    {
                        <form method="post" asp-action="MarkAsNoShow" class="w-12 btn-group">
                            <input type="hidden" name="Id" value="@customerTicket.Id" />
                            <button type="submit" class="btn btn-danger">No Show</button>
                        </form>
                        <form method="post" asp-action="TransferNumber" class="w-12 btn-group">
                            <input type="hidden" name="Id" value="@customerTicket.Id" />
                            <button type="submit" class="btn btn-warning">Transfer</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
