@model Queue_Management_System.Models.QueueVM2

@{
    ViewData["Title"] = "ServicePoint";
}

<h1>ServicePoint</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WaitingCustomers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
               <a class="btn btn-warning" asp-action="EditServiceProvider" asp-route-id="@item.Id">Edit</a>
               <a class="btn btn-warning" asp-action="EditServiceProvider" asp-route-id="@item.Id">Details</a>
                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"> <i class="far fa-trash-alt"></i></button>

            </td>
            
        </tr>
}

    </tbody>
</table>


@*<button data-id="7" class="btn btn-danger deleteBtn" type="button"> Next</button>*@
<button data-id="@Model.IncomingCustomerId" class="btn btn-danger deleteBtn" type="button"> Next</button>


@*<a class="btn btn-warning" asp-action="GetNextNumber" asp-route-id="">Next</a>*@
<a class="btn btn-warning" asp-action="RecallNumber" asp-route-id="">Recall</a>
<a class="btn btn-warning" asp-action="MarkNumberAsNoShow" asp-route-id="">No Show</a>
<a class="btn btn-warning" asp-action="MarkNumberAsFinished" asp-route-id="">Finished</a>
<a class="btn btn-warning" asp-action="TransferNumber" asp-route-id="">Transfer Number</a>



<form id="deleteFrom" asp-action="GetNextNumber">
    <input type="hidden" id="serviceProviderId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function () {

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                .then
                ((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#serviceProviderId').val(id);
                        $('#deleteFrom').submit();
                    }
                } ) ;
            });
        });
    </script>
}
