@model Queue_Management_System.Models.QueueVM2

@{
    ViewData["Title"] = "ServicePoint";
}

<h1>ServicePoint</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WaitingCustomers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
               <a class="btn btn-warning" asp-action="EditServiceProvider" asp-route-id="@item.Id">Edit</a>
               <a class="btn btn-warning" asp-action="EditServiceProvider" asp-route-id="@item.Id">Details</a>
                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"> <i class="far fa-trash-alt"></i></button>

            </td>
            
        </tr>
}

    </tbody>
</table>


@if (@Model.MyCurrentServingCustomerId != null)
{
    <button data-id="@Model.MyCurrentServingCustomerId.Id" class="btn btn-danger nextBtn" type="button"> Neext</button>
    <button  class="btn btn-danger recallBtn" type="button"> Recall</button>
    <button  class="btn btn-danger noShowBtn" type="button"> No Show</button>
    <button  class="btn btn-danger finishedBtn" type="button"> Finished</button>
    <button  class="btn btn-danger transfernumberBtn" type="button"> Transfer Number</button>
}
else
{
    <button  data-id="" class="btn btn-danger nextBtn" type="button"> Nexttt</button>
}



@if (@Model.MyCurrentServingCustomerId != null)
{
    <H1>You are currently serving Customer @Model.MyCurrentServingCustomerId.Id </H1>
}


<form id="nextForm" asp-action="GetNextNumber">
    <input type="hidden" id="currentServingCustomerId" name="Id" />
</form>

<form id="recallForm">
    <input type="hidden" id="currentServingCustomerId" name="Id" />
</form>

<form id="noShowForm" asp-action="MarkNumberASNoShow">
    <input type="hidden" id="currentServingCustomerId" name="Id" />
</form>
<form id="finishedForm" asp-action="MarkNumberASFinished">
    <input type="hidden" id="currentServingCustomerId" name="Id" />
</form>

@section Scripts{
    <script>
        //nextBtn
        $(function () {

            $('.nextBtn').click(function (e) {
                swal({
                    title: "Next?",
                    text: "Call next number?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                .then
                ((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#currentServingCustomerId').val(id);
                        $('#nextForm').submit();
                    }
                } ) ;
            });
            //

        });
        //recallBtn
        $(function () {

            $('.recallBtn').click(function (e) {
                swal({
                    title: "Recall?",
                    text: "Recall the number?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                    .then
                    ((confirm) => {
                        if (confirm) {
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#currentServingCustomerId').val(id);
                        }
                    });
            });
        });
        //noShow
        $(function () {

            $('.noShowBtn').click(function (e) {
                swal({
                    title: "No Show",
                    text: "Mark Number as NoShow?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                    .then
                    ((confirm) => {
                        if (confirm) {
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#currentServingCustomerId').val(id);
                            $('#noShowForm').submit();
                        }
                    });
            });
        });
        //finished
        $(function () {

            $('.finishedBtn').click(function (e) {
                swal({
                    title: "Finished",
                    text: "Are you sure you want to mark this number as finished?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                    .then
                    ((confirm) => {
                        if (confirm) {
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#currentServingCustomerId').val(id);
                            $('#finishedForm').submit();
                        }
                    });
            });


        });
    </script>
}
