@model Tuple<List<Queue_Management_System.Models.Customers>,Queue_Management_System.Models.Customers >

@{
    ViewData["Title"] = "ServicePoint";
}

<h1>ServicePoint</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Queue" asp-action="RecallCustomer">
    <table>
        <tr>
            <td>Enter Ticket Number to recall: </td>
            <td><input type="text" id="ticketNumber" name="ticketNumber" /></td>
        </tr>
       
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <hr />
</form>

<p>
    Currently Serving: 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item2.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.timein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.timeout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.ticketnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.status)
            </th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                @Html.DisplayFor(modelItem => modelItem.Item2.name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => modelItem.Item2.timein)
                </td>
                <td>
                @Html.DisplayFor(modelItem => modelItem.Item2.timeout)
                </td>
                <td>
                @Html.DisplayFor(modelItem => modelItem.Item2.ticketnumber)
                </td>
                <td>
                @Html.DisplayFor(modelItem => modelItem.Item2.status)
                </td>
                <td>
                    <a asp-action="EditStatus" asp-route-id="@Model.Item2.id">Edit Status</a>
                    <a asp-action="TransferCustomer" asp-route-id="@Model.Item2.id">Transfer</a>
                </td>
            </tr>
      
    </tbody>
</table>
<h1>Queue</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item2.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.timein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.timeout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.ticketnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.status)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            
        </tr>
}
    </tbody>
</table>
